__pycache__
__pycache__/*
*/__pycache__
*/__pycache__/
*/__pycache__/*
./utils/data/__pycache__
./utils/data/__pycache__/*
./utils/diffusion_model/diffusion/__pycache__
./utils/diffusion_model/sample/__pycache__
./utils/diffusion_model/setup/__pycache__
./utils/diffusion_model/test/__pycache__
./utils/diffusion_model/train/__pycache__
./utils/diffusion_model/validation/__pycache__/*
./utils/diffusion_model/diffusion/__pycache__/*
./utils/diffusion_model/sample/__pycache__/*
./utils/diffusion_model/setup/__pycache__/*
./utils/diffusion_model/test/__pycache__/*
./utils/diffusion_model/train/__pycache__/*
./utils/diffusion_model/validation/__pycache__/*

# Dataset directory (too large for git)
/data
/data/*
/data/*/*